@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  background: url("../images/pattern-background-mobile.svg") center top/100% auto no-repeat hsl(225deg, 100%, 94%);
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.attribution {
  padding-bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: hsl(224deg, 23%, 55%);
}
.attribution a {
  color: hsl(245deg, 75%, 52%);
  transition: color 0.3s;
}
.attribution a:hover, .attribution a:focus {
  color: hsla(245deg, 75%, 52%, 0.7);
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.card {
  width: 96%;
  max-width: 20.5rem;
  background: white;
  border-radius: 1.25rem;
  overflow: hidden;
}
@media (min-width: 540px) {
  .card {
    max-width: 28.125rem;
  }
}
.card__body {
  padding: 2rem 1.5rem 2rem;
  text-align: center;
}
@media (min-width: 540px) {
  .card__body {
    padding: 3rem 3rem 2rem;
  }
}
.card__title {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (min-width: 540px) {
  .card__title {
    font-size: 1.75rem;
    letter-spacing: normal;
  }
}
.card__text {
  padding: 0 1rem;
  line-height: 1.6;
  margin-bottom: 1.625rem;
}
@media (min-width: 540px) {
  .card__text {
    margin-bottom: 1.25rem;
  }
}
.card__buttons .btn + .btn {
  margin-top: 0.625rem;
}
@media (min-width: 540px) {
  .card__buttons .btn + .btn {
    margin-top: 1rem;
  }
}

.order-info {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1rem;
  background-color: hsl(225deg, 100%, 98%);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}
@media (min-width: 540px) {
  .order-info {
    padding: 1.625rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
}
.order-info__plan {
  line-height: 1.5;
}
.order-info__plan strong {
  display: block;
  color: hsl(223deg, 47%, 23%);
}
.order-info__change {
  margin-left: auto;
  font-size: 0.8125rem;
  font-weight: 700;
  color: hsl(245deg, 75%, 52%);
  transition: all 0.3s ease;
}
.order-info__change:hover, .order-info__change:focus {
  outline: none;
  text-decoration: none;
  color: hsla(245deg, 75%, 52%, 0.7);
}

.btn {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.625rem;
  letter-spacing: -0.02em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn--primary {
  background-color: hsl(245deg, 75%, 52%);
  color: white;
  box-shadow: 0 1.25rem 1.875rem -1rem hsl(245deg, 75%, 52%);
}
.btn--primary:hover, .btn--primary:focus {
  color: white;
  background: hsla(245deg, 75%, 52%, 0.7);
}
.btn--default {
  background: none;
  color: hsl(224deg, 23%, 55%);
}
.btn--default:hover, .btn--default:focus {
  color: hsl(223deg, 47%, 23%);
}
.btn:hover, .btn:focus {
  outline: none;
}/*# sourceMappingURL=style.css.map */