@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

$color-pale-blue: hsl(225, 100%, 94%);
$color-bright-blue: hsl(245, 75%, 52%);
$color-bright-blue-hover: hsl(245, 75%, 52%, 70%);
$color-very-pale-blue: hsl(225, 100%, 98%);
$color-desaturated-blue: hsl(224, 23%, 55%);
$color-dark-blue: hsl(223, 47%, 23%);
$font-base: "Red Hat Display", sans-serif;
$width-tablet: 540px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-base;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  background: url("../images/pattern-background-mobile.svg") center top / 100%
    auto no-repeat $color-pale-blue;

  @media (min-width: $width-tablet) {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.attribution {
  padding-bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: $color-desaturated-blue;

  a {
    color: $color-bright-blue;
    transition: color 0.3s;

    &:hover,
    &:focus {
      color: $color-bright-blue-hover;
    }
  }
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.card {
  width: 96%;
  max-width: 20.5rem;
  background: white;
  border-radius: 1.25rem;
  overflow: hidden;

  @media (min-width: $width-tablet) {
    max-width: 28.125rem;
  }

  &__body {
    padding: 2rem 1.5rem 2rem;
    text-align: center;

    @media (min-width: $width-tablet) {
      padding: 3rem 3rem 2rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-top: 0;
    margin-bottom: 1rem;

    @media (min-width: $width-tablet) {
      font-size: 1.75rem;
      letter-spacing: normal;
    }
  }

  &__text {
    padding: 0 1rem;
    line-height: 1.6;
    margin-bottom: 1.625rem;

    @media (min-width: $width-tablet) {
      margin-bottom: 1.25rem;
    }
  }

  &__buttons {
    .btn + .btn {
      margin-top: 0.625rem;

      @media (min-width: $width-tablet) {
        margin-top: 1rem;
      }
    }
  }
}

.order-info {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1rem;
  background-color: $color-very-pale-blue;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;

  @media (min-width: $width-tablet) {
    padding: 1.625rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  &__plan {
    line-height: 1.5;

    strong {
      display: block;
      color: $color-dark-blue;
    }
  }

  &__change {
    margin-left: auto;
    font-size: 0.8125rem;
    font-weight: 700;
    color: $color-bright-blue;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
      color: $color-bright-blue-hover;
    }
  }
}

.btn {
  display: block;
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.625rem;
  letter-spacing: -0.02em;
  cursor: pointer;
  transition: all 0.3s ease;

  &--primary {
    background-color: $color-bright-blue;
    color: white;
    box-shadow: 0 1.25rem 1.875rem -1rem $color-bright-blue;

    &:hover,
    &:focus {
      color: white;
      background: $color-bright-blue-hover;
    }
  }

  &--default {
    background: none;
    color: $color-desaturated-blue;

    &:hover,
    &:focus {
      color: $color-dark-blue;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }
}
